body{
    background-color:#FAFFFF;
}

h1 {
    font-size: 60pt;
    margin: 30px;
    text-align: center;
}

.description-body {
    text-align: left;
    width: 80%;
    display: inline-block;
    margin-left: 10%;
    font-size: 15pt;
}